.sticky {
    position: sticky;
}

.scrollbox {
    overflow-y: scroll;
    max-height: 500px;
    padding: 0 10px;
}

.homePageMid{
    text-align: center;
}

.heading{
    background-color: rgb(220, 221, 255);
}
